@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=League+Spartan:wght@100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'League Spartan', sans-serif;
  font-weight: 300;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #87ceeb;
}

h1 {
  margin-bottom: 20px;
}

.logo {
  font-family: 'Amatic SC', sans-serif;
  color: #ff4500;
  background-color: #111;
  border: 3px dotted #87ceeb;
  border-radius: 8px;
  font-size: 30px;
  font-weight: bold;
  padding: 5px 10px;
  letter-spacing: 2px;
  margin-top: 20px;
}